<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Treyo
    </a>
</nav>
<div class="container">

    <div class="jumbotron jumbotron-fluid m-5">
        <div class="container">
            <h1 class="display-4">Treyo (cual trello?)</h1>
            <p class="lead">Administra tus tareas</p>
            <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#addcard">
                        Agregar Tarea
                        <i class="fas fa-folder-plus"></i>
            </button>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="addcard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Agregar tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                    <form class="form-inline">

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="nombre" class="sr-only">Nombre de la tarea</label>
                            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <select name="tarjeta" [(ngModel)]="tarjeta" class="custom-select" id="inputGroupSelect01">
                                <option selected>Tarjeta</option>
                                <option value="1">Pendiente</option>
                                <option value="2">Proceso</option>
                                <option value="3">Realizado</option>
                        </select>
                        </div>

                        <button type="submit" (click)="crear()" class="btn btn-primary mb-2">Guardar</button>
                    </form>
                    <div class="alert alert-secondary" role="alert" *ngIf="alerta">
                        {{alerta}}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div cdkDropListGroup class="row m-4">

        <div class="col m-1">
            <div class="card">
                <div class="card-header">Pendiente

                </div>
                <div cdkDropList class="example-list" [cdkDropListData]="card?.todo" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <div>
                        <ul *ngFor="let item of card?.todo; let i = index" cdkDrag class="list-group list-group-flush">
                            <li class="list-group-item">{{item}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col m-1">
            <div class="card">
                <div class="card-header">Proceso

                </div>
                <div cdkDropList class="example-list" [cdkDropListData]="card?.proceso" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <div>
                        <ul *ngFor="let item of card?.proceso; let i = index" cdkDrag class="list-group list-group-flush">
                            <li class="list-group-item">{{item}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="col m-1">
            <div class="card">
                <div class="card-header">Realizado

                </div>
                <div cdkDropList class="example-list" [cdkDropListData]="card?.realizado" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <div>
                        <ul *ngFor="let item of card?.realizado; let i = index" cdkDrag class="list-group list-group-flush">
                            <li class="list-group-item">{{item}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>